<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lapis - Do Something</title>
</head>

<body id="create-page" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class = "form-part container-fluid">
        <div class = "form-part-in row">
            <div class="col-xs-4">&nbsp;</div>
            <div class="">
              <h2 class="form-tag">Create Task</h2>
              <form class="" action="/tasks" method="post">

                
                <label for="title" class="sr-only">Title</label>
                <input type="text" id="title" class="form-control" placeholder="Title" name="title">

                <label for="description" class="sr-only">Description</label>
                <input type="text" id="description" class="form-control"  placeholder="Description" name="description">
                </div>

                <button><input class="btn btn-lg btn-primary btn-block" type="submit" value="Create Task"/>"Create Task"</button>
              </form>
            </div>
            <div class="col-xs-4">&nbsp;</div>
        </div>
    </div>
</body>

</html>
